.boxContent{
    .form{
        padding-left: 15px;
        padding-right: 15px;
        .title{
            text-align: center;
            color: #686868;
            font-size: 20px;
        }
        .btn-login{
            //--background:#48ac98;
            --padding-start: 20px;
            --padding-end: 20px;
            --padding-bottom:23px;
            --padding-top:23px;
            margin-bottom: 38px;
            --border-color:#48ac98;
            color:#48ac98;
            --border-width:1px;	
        }
    }
    .formGroup{
        ion-select,ion-input{
            margin-bottom: 14px;
            border: 2px solid #8888886b;
            border-radius: 5px;
        }
        ion-label{
            margin-bottom: 5px!important;
        }
        
        .address{  
            margin-top:15px;
            padding: 0px;
            margin:0px;
            ion-grid{
                padding: 0px;
            }
            .item{
                border-radius: 5px;
                border: #c7c7c7 2px solid;
                padding: 10px;
            } 
            .item_select{
                -webkit-box-shadow: 0px 0px 4px 2px rgba(70,170,150,0.28); 
                box-shadow: 0px 0px 4px 2px rgba(70,170,150,0.28);
                border-radius: 5px;
                padding: 10px;
            }
            .addrsItem{
                text-align: center;
                display: block;
            }
            .selectadd{
                margin-top: 10px;
                text-align: center;
                ion-icon{
                    font-size: 13px;
                }
            }
            
        }
        
    }
    .addDress{
       //--background:#48ac98;
       --padding-start: 20px;
       --padding-end: 20px;
       --padding-bottom:23px;
       --padding-top:23px;
       margin-bottom: 38px;
       --border-color:#48ac98;
       color:#48ac98;
       --border-width:1px;	
    }
    
}

.btnctr{
    padding: 10px;
    margin-bottom: 10px;
    ion-button{
        --background:#48ac98;
        --padding-start: 20px;
        --padding-end: 20px;
        --padding-bottom:23px;
        --padding-top:23px;
        margin-top: 15px;
    }
    background: rgb(250, 250, 250);
    .cuponText{
        color: #48ac98;
    }
    ion-item{
        background: unset !important;
        ion-badge{
            background: #e46a76 !important;
            border-radius: 25px!important;
            padding: 5px;
        }
    }
    .prices{
        background: #ffff !important;
        padding-left: 15px;
        ion-badge{
            background: #e46a76 !important;
            border-radius: 25px!important;
            padding: 5px;
        }  
    }
    .colorText{
        color: #646464;
        padding: 4px;
    }
    .colorText.price{
        color: #646464;
        font-weight: 600;
        padding: 4px;
    }
}