<ion-header  class="ion-no-border"> 
  <app-toolbar [btnLoggout]="true" [btnBack]="true" [position]="'relative'" [title]="'Perfil'" [btnCart]="false" [btnUser]="false"></app-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col class="box">
      <div class="borderr">
        <ion-avatar >
          <ion-img [src]="conf.URLIMG+'logos/fondo.png'"></ion-img>
        </ion-avatar>
      </div>
      
      <span style="display: block; margin-top: 15px;color:#48ac98;font-weight: 600;">{{user.name}}
        <ion-icon name="checkmark-circle"></ion-icon>
      </span>
      <span style="display: block; margin-top: 15px;color:rgb(143, 143, 143);font-size: 13px;">{{user.user}}</span>
    </ion-col>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="horders">
        <ion-label><ion-icon name="cart-outline"></ion-icon> Compras</ion-label>
      </ion-segment-button>
      <ion-segment-button value="uaddress">
        <ion-label><ion-icon name="map-outline"></ion-icon> Direcciones</ion-label>
        
      </ion-segment-button>
      <ion-segment-button value="pqr">
        <ion-label><ion-icon name="help-buoy-outline"></ion-icon> Pqr</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ng-template [ngIf]="orders">
      <ion-col size="12">
        <ion-col size="12" class="noItemsBox" *ngIf="data.length==0">
          <h5>No tienes Ordenes :(</h5>
          <ion-button expand="block"  fill="outline" [routerLink]="['/']" type="button" class="btn-emptycart">¡Comprar Ahora!</ion-button>
        </ion-col>
        <ion-list>
          <div *ngFor="let orders of data,let i = index" class="dv-item">
            <ion-label>Orden # {{orders.id}}</ion-label>
            <span style="display:block">Estado: {{orders.status}}</span>
            <span style="display:block">Total: {{orders.total | currency:'COP':'symbol-narrow':'3.0'}}</span>
          </div>
        </ion-list>
      </ion-col>
      
    </ng-template>
    <ng-template [ngIf]="address">
      <ion-col size="12">
        <ion-col size="12" class="noItemsBox" *ngIf="data.length==0">
          <h5>Sin Direcciones...</h5>
        </ion-col>
        <ion-col size="12" class="noItemsBox">
          <ion-button expand="block"  fill="outline" (click)="addAddress()" type="button" class="btn-emptycart">Crear Direccion</ion-button>
        </ion-col>
        <ion-list *ngIf="data.length>0">
          <div *ngFor="let addresss of data,let i = index" class="dv-item">
            <ion-label>Direccion # {{i}}</ion-label>
            <span style="display:block">Direccion: {{addresss.address}}</span>
            <span style="display:block">Barrio: {{addresss.nbh}}</span>
          </div>
        </ion-list>
    </ion-col>
    </ng-template>
    <ng-template [ngIf]="newAddress">
      <ion-col size="12">
        <form class="formAddress" [formGroup]="addressForm" (ngSubmit)="saveForm()">
          <div class="formGroup">
            <ion-label>
              Direccion
            </ion-label>
            <ion-input type="text"  placeholder="ejem: Calle 1#2a-3" formControlName="address"></ion-input>
          </div>
          <div class="formGroup">
            <ion-label>Departamento</ion-label>
            <ion-select placeholder="Seleccione un departamento" (ionChange)="citysApl($event)" formControlName="dep">
              <ion-select-option *ngFor="let state of states" [value]="state.id">{{state.name}}</ion-select-option>
            </ion-select>
          </div>
          <div class="formGroup">
            <ion-label>Ciudad</ion-label>
            <ion-select placeholder="Select One" formControlName="city">
              <ion-select-option *ngFor="let city of cit" [value]="city.id">{{city.name}}</ion-select-option>
            </ion-select>
          </div>
          <div class="formGroup" >
            <ion-label>
              Barrio
            </ion-label>
            <ion-input type="text"  placeholder="ejem: Barrio los colores"  formControlName="barrio"></ion-input>
          </div>
          <ion-col size="12" class="noItemsBox">
            <ion-button expand="block"  fill="outline" type="submit" class="btn-emptycart">Guardar Direccion</ion-button>
          </ion-col>
        </form>
    </ion-col>
    </ng-template>
    <ng-template [ngIf]="pqr">
      <ion-col size="12">
        
        <ion-col size="12" class="noItemsBox">
          <ion-button expand="block"  fill="outline" [routerLink]="['/pqr']" type="button" class="btn-emptycart">Crear PQR</ion-button>
        </ion-col>
        <ion-list>
          <div *ngFor="let ticket of data,let i = index" class="dv-item" [routerLink]="['/pqr',ticket.id]">
            <ion-label style="color: #5c5c5c;font-weight:600;">Ticket # {{ticket.id}}</ion-label>
            <span style="display:block;color: #585858;">Asunto: {{ticket.asunto}}</span>
            <span style="display:block;color: #585858;">Estado: <ion-badge slot="end" style="margin-right: 15px;" [ngClass]="{'bg-danger': ticket.status==1, 'bg-warning':ticket.status==2,'bg-sucess':ticket.status==3 }">
              {{status[ticket.status]}}
            </ion-badge></span>
            <span style="display:block;color: #585858;">Fecha: {{ticket.created}}</span>
          </div>
        </ion-list>
      </ion-col>
    </ng-template>
  </ion-grid>
</ion-content>


