<ion-content [fullscreen]="true">
  <app-toolbar [btnCart]="true" [btnUser]="true"></app-toolbar>
  <section class="hd-box">
    <ion-img [src]="api.URLIMG+'/logos/fondo.png'" alt="parabarberos" ></ion-img>
    <form [formGroup]="searchForm">
      <ion-item  lines="none" class="searchContent">
        <ion-searchbar animated  placeholder="Buscar productos" class="search" formControlName="txt"></ion-searchbar>
      </ion-item>
    </form>
    <app-categorieslider></app-categorieslider>
  </section>
  
    <ion-grid class="pt-4">
      <ion-row>
        <ion-col size="6" class="cardProd"  *ngFor="let prod of prods" [routerLink]="['/product',prod.slug]">
          <ion-card>
            <div class="img">
              <ion-badge color="success" class="promobg">Promo</ion-badge>
              <ion-img [src]="api.URLIMG+'products/thumbs/'+prod.img1" alt="{{prod.slug}}"></ion-img>
            </div>
            <ion-card-content>
              <ion-text class="nameprod">
                <h5>{{shortname(prod.name)}}</h5>
              </ion-text>
              <h5 class="price">{{prod.val | currency:'COP':'symbol-narrow':'3.0'}}</h5>
            </ion-card-content>
            
          </ion-card>
        </ion-col>
        <ion-infinite-scroll threshold="250px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Cargando mas productos...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-row>
    </ion-grid>
  
</ion-content>
